.env
# Игнорировать скомпилированные файлы
dist/

# Игнорировать зависимости (они устанавливаются через npm)
node_modules/

# Игнорировать временные файлы и логи
*.log
npm-debug.log

# Игнорировать файлы среды разработки
.DS_Store
.idea/
.vscode/